
teste.py
__pycache__/Conexao.cpython-313.pyc
/__pycache__
/build
__pycache__/Conexao.cpython-313.pyc
/dist
CheckList.spec
__pycache__/Conexao.cpython-313.pyc
/__pycache__/*
build/
/build
/__pycache__
/build/CheckList
/dist
/dist/CheckList
config
config.py
